@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sofia&display=swap');
body 
{
    background-image: url(/img/Patrick.png);
    background-repeat: no-repeat;
    
}

li 
{
    
}
h1{
    color:#EF476F;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #CED4DA;  
    font-family: 'Sofia', cursive; 
}
.centrar{
    margin: auto;
    width: 1000px;
}
.caja{
    padding: 5px;
    width: 40%;
    height: 80px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    float: left;
}
.caja.serif{
    background-color: #5A198A;
}
.fuente_times{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-variant: small-caps; /* todas letras en mayuscalas pero la primera más grande*/
    font-size: small;
}
.fuente_georgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1em; /* 16px/16 = 1em*/
}
.caja.sans-serif{
    background-color: #00D4D8;
}
.fuente_arial{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: 3vw; /* view width (viewport) 1vw = 1%*/
}
.fuente_verdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 2vh; /*view height*/
}
.caja.monospace{
    background-color: #F15BB5;
}
.fuente_courier{
    font-family: 'Courier New', Courier, monospace;
}
.caja.cursiva{
    background-color: #FF8500;
}
.fuente_lucida{
    font-family: 'Lucida Handwriting', 'Lucida Sans Regular',cursive;
}

